
.main-top
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0px;
    align-items: center;
}

.main-top-left
{
    display: flex;
}

.main-top-left-1
{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: #86a4ac;
    margin-right: 15px;
}

.main-top-left-2
{
    height: 60px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

.banner-wrapper
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    padding-top: 50px;
    border-bottom: 1px solid #FFFFFF;
}

.banner-image-1
{
    transform: rotate(-20deg);
}

.banner-image-2
{
    transform: rotate(-10deg);
}

.banner-image-4
{
    transform: rotate(10deg);
}

.banner-image-5
{
    transform: rotate(20deg);
}

.banner-image-1:hover
{
    transform: rotate(-20deg) scale(1.3);
    transition: 0.5s ease-in-out;
}

.banner-image-2:hover
{
    transform: rotate(-10deg) scale(1.3);
    transition: 0.5s ease-in-out;
}

.banner-image-3:hover
{
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}

.banner-image-4:hover
{
    transform: rotate(10deg) scale(1.3);
    transition: 0.5s ease-in-out;
}

.banner-image-5:hover
{
    transform: rotate(20deg) scale(1.3);
    transition: 0.5s ease-in-out;
}

.banner-text
{
    padding: 30px 0px;
    margin: 0px auto;
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 2em;
    text-align: center;
    text-shadow: 1px 1px #3d3d3d;
}

.product-item
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px 0px;
    align-items: center;
}

.product-item > .product-image
{
    padding: 20px 0px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
}

.product-item > .product-text
{
    font-size: 16px;
    line-height: 2em;
    margin: 20px 30px;
}

.product-item-right > .product-text
{
    text-align: right;
}

.product-image-1
{
    background-color: #35b294;
    background-image: url(../img/product1.png);
}

.product-image-2
{
    background-color: #c0cc8c;
    background-image: url(../img/product2.png);
}

.product-image-3
{
    background-color: #e090b5;
    background-image: url(../img/product3.png);
}

.product-image-4
{
    background-color: #cc9461;
    background-image: url(../img/product4.png);
}

.product-image-5
{
    background-color: #88419f;
    background-image: url(../img/product5.png);
}

.product-image:hover { box-shadow: 5px 5px #3d3d3d; transition: 0.5s ease-in-out;}

@media screen and (min-width: 1200px) { 
    .product-item-right
    {
        direction: rtl;
    }
}